<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          CSEG is a student-run organization that represents CSE graduate students at the University of Michigan. We serve as a voice for graduate students on departmental
          committees and work to build a strong, inclusive community through social events, networking opportunities, and
          professional development activities. All CSE graduate students are automatically members of CSEG.
        </p>
      </div>
    </div>

  </div>
</section>


