<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>CSEG is the Computer Science and Engineering Graduate student organization of the <a href="http://http://eecs.umich.edu/cse/">Computer Science Engineering</a> department at the <a href="https://umich.edu">University of Michigan</a>.</h2>
        <p class="lead">CSEG represents graduate students as representatives on a number of departmental committees. CSEG organizes social activities like cookouts, happy hours, and intramural sports. All CSE graduate students are automatically members of CSEG.</p>
		<p class="lead">You might be interested to see CSEG's old <a href="https://wiki.eecs.umich.edu/cseg/index.php/Main_Page">wiki</a>.</p>
		<p class="lead"><a href="https://wiki.eecs.umich.edu/cseg/index.php/Reading_Groups">Current CSE Reading Groups</a></p>
        {{ }}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
