<section id="social-events">
  <div class="container">

    <div class="section-head">
      <h2>Calendar</h2>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="calendar-card">
          <iframe
            class="cseg-calendar"
            title="CSEG Social Events Calendar"
            src="https://calendar.google.com/calendar/embed?src=umich.edu_r777r5udn3p7h91vg3n88hkl0k%40group.calendar.google.com&ctz=America%2FNew_York&mode=WEEK&showTitle=0&showTabs=1&showPrint=0&showCalendars=0"
            frameborder="0"
            scrolling="no">
          </iframe>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <p style="margin-top: 16px;">
          Want to get involved or request an event?
          Contact us at
          <a href="mailto:cseg-officers@umich.edu">cseg-officers@umich.edu</a>.
        </p>
      </div>
    </div>

  </div>
</section>
