<!-- Resources page: official university and department links, curated by CSEG. -->
<!-- Links live in _data/resources.yml. -->

<section id="guide" class="page-top-pad" style="padding-bottom: 76px;">
  <div class="container">

    <div class="section-head">
      <h2>Resources</h2>
    </div>

    <div class="row resources-grid" id="links">
      {% for group in site.data.resources %}
      <div class="col-md-6 resource-group-col">
        <div class="resource-group">
          <h3 class="resource-group-title">
            <i class="fa fa-{{ group.icon }} resource-group-icon"></i>
            {{ group.category }}
          </h3>
          <ul class="resource-list">
            {% for link in group.links %}
            <li class="resource-item">
              <a href="{{ link.url }}" target="_blank" rel="noopener" class="resource-link">
                {{ link.label }}
                <i class="fa fa-external-link resource-external-icon"></i>
              </a>
              {% if link.note %}<p class="resource-note">{{ link.note }}</p>{% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p class="guide-connect-optin">
          Know a link that belongs here?
          <a href="mailto:{{ site.email }}?subject=Resource%20suggestion">Send it our way.</a>
        </p>
      </div>
    </div>

  </div>
</section>
