<!-- Home hero -->

<section id="hero" class="hero--center">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="hero-title">Welcome to <span class="accent">CSEG</span>!</h1>
        <p class="hero-sub">
          We're the student-run organization for CSE graduate students at the University of
          Michigan. All CSE grad students (SUGS, Master's, and PhD) are automatically part
          of CSEG.
        </p>
      </div>
    </div>
  </div>
</section>
