<!-- jQuery -->
<script src="{{ '/js/jquery-1.11.0.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{ '/js/classie.js' | relative_url }}"></script>
<script src="{{ '/js/cbpAnimatedHeader.js' | relative_url }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ '/js/jqBootstrapValidation.js' | relative_url }}"></script>
{% if site.contact == "static" %}
<script src="{{ '/js/contact_me_static.js' | relative_url }}"></script>
{% else %}
<script src="{{ '/js/contact_me.js' | relative_url }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ '/js/freelancer.js' | relative_url }}"></script>

{% if site.contact == "disqus" %}
  {% include js_disqus.html %}
{% endif %}
