<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | relative_url }}#page-top">
        {{ site.title }}
        <span class="navbar-brand-subtitle">Computer Science &amp; Engineering Graduate Students</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>

        <!-- Separate pages -->
        <li{% if page.url contains '/officers' %} class="active"{% endif %}><a href="{{ '/officers/' | relative_url }}">Officers</a></li>
        <li{% if page.url contains '/life-at-cseg' %} class="active"{% endif %}><a href="{{ '/life-at-cseg/' | relative_url }}">Life in CSEG</a></li>
        <li{% if page.url contains '/resources' or page.url contains '/guide' %} class="active"{% endif %}><a href="{{ '/resources/' | relative_url }}">Resources</a></li>
        <li{% if page.url contains '/calendar' %} class="active"{% endif %}><a href="{{ '/calendar/' | relative_url }}">Calendar</a></li>
        <li{% if page.url contains '/contact' %} class="active"{% endif %}><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
