<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ '/' | relative_url }}#page-top">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden"><a href="#page-top"></a></li>

        <!-- Officers: keeps smooth scroll on homepage and works from other pages -->
        <li class="page-scroll">
          <a href="#portfolio" onclick="if (window.location.pathname !== '{{ '/' | relative_url }}') { window.location='{{ '/' | relative_url }}#portfolio'; return false; }">
            Officers
          </a>
        </li>

        <!-- Separate pages -->
        <li><a href="{{ '/initiatives/'   | relative_url }}">Initiatives</a></li>
        <li><a href="{{ '/social-events/' | relative_url }}">Social Events</a></li>
        <li><a href="{{ '/contact/'       | relative_url }}">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
